<div class="text-input">
  <input
    class="text-input-field"
    [id]="inputId"
    placeholder=" "
    [type]="type()"
    [value]="value()"
    [disabled]="disabled()"
    [attr.autocomplete]="autocomplete()"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
  <label class="text-input-label" [for]="inputId">{{ label() }}</label>
  <fieldset class="text-input-border" aria-hidden="true">
    <legend class="text-input-legend"><span>{{ label() }}</span></legend>
  </fieldset>
</div>
