<div class="activity-card">
  <div class="flex flex-row">
    <div class="w-[70%] flex flex-col">
      <h2>Běh na 100 metrů</h2>
      <h3>Dnes v 9:00</h3>
      <h3>Choltice, Pardubický kraj</h3>
    </div>
    <div class="w-[30%] flex justify-end items-start">
      <!-- Placeholder -->
      <div class="pic-placeholder"></div>
    </div>
  </div>

  <div class="flex flex-row mt-3">
    <div class="flex flex-col w-50">
      <p>Time</p>
      <h2>11,25 s</h2>
    </div>
    <div class="flex flex-col w-50">
      <p>Level</p>
      <div class="flex gap-1 level">
        <img src="/assets/icon/star-selected.svg" alt="Star selected">
        <img src="/assets/icon/star-selected.svg" alt="Star selected">
        <img src="/assets/icon/star.svg" alt="Star">
      </div>
    </div>
  </div>
</div>
